{% extends 'base.html.twig' %}

{% block title %}{% trans %}default.index.title{% endtrans %}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
{% endblock %}

{% block body %}

	<h2>{% trans %}default.index.title_h2{% endtrans %}</h2>

	<div id="carouselExampleAutoplaying" class="carousel slide carousel-fade text-center" data-bs-ride="carousel">
		<div class="carousel-inner w-100">
			{% for equipe in equipes %}
				{% if equipe.id == 1 %}
					<div class="carousel-item active" data-bs-interval="5000">
						<img src="{{ asset(equipe.image) }}" class="w-50 img-fluid rounded">
					</div>
				{% else %}
					<div class="carousel-item" data-bs-interval="5000">
						<img src="{{ asset(equipe.image) }}" class="w-50 img-fluid rounded">
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<hr>
	<div id="div-accueil-post" class="d-flex">
		{% for post in posts %}
			<div class="card m-3 infos_accueil">
				<div class="card-body">
					{% if post.titre != null %}
							<h5 class="card-title fw-bold">{{ post.titre }}</h5>
					{% endif %}
					{% if post.paragraphe != null %}
							<p class="card-text text-justify">{{ post.paragraphe }}</p>
					{% endif %}
				</div>
				{% if post.image != null %}
						<img src="{{ asset(post.image) }}" class="card-img-top">
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% block js %}
	<script>
		changementAcitveLink('Accueil')
	</script>
{% endblock %}
