<nav class="navbar bg-transparent">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
			<span class="w-100" id="btn-burger">&#9776;</span>
		</button>
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
			<div class="offcanvas-header">
				<div class="icons">
					<a target="_blank" href="https://www.facebook.com/HandballRochettois/"><img id="facebook" src="{{ asset('images/reseaux-sociaux/facebook.png') }}" alt="Facebook" title="Facebook" onmouseover="changePictureHover(this)" onmouseout="changePictureUnHover(this)"></a>
					<a target="_blank" href="https://instagram.com/hb_rochettois?igshid=YmMyMTA2M2Y="><img id="instagram" src="{{ asset('images/reseaux-sociaux/instagram.png') }}" alt="Instagram" title="Instagram" onmouseover="changePictureHover(this)" onmouseout="changePictureUnHover(this)"></a>
					<a target="_blank" href="mailto:5173025@ffhandball.net"><img id="mail" src="{{ asset('images/reseaux-sociaux/email.png') }}" alt="Mail" title="Mail" onmouseover="changePictureHover(this)" onmouseout="changePictureUnHover(this)"></a>
				</div>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_default') }}">{% trans %}title_h2.accueil{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_agenda') }}">{% trans %}title_h2.agenda{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_club') }}">{% trans %}title_h2.club{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_inscription') }}">{% trans %}title_h2.app_inscription{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_equipes') }}">{% trans %}title_h2.equipe{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_boutique') }}">{% trans %}title_h2.boutique{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_photos') }}">{% trans %}title_h2.photos{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_presse') }}">{% trans %}title_h2.presse{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_partenaires') }}">{% trans %}title_h2.partenaires{% endtrans %}</a>
					</li>
				</ul>
				{# {% set route = app.request.attributes.get('route', 'app_default') %}
				{% set locale = 'default_locale' | trans %}
				{% set supported_locales = parameter('app.supported_locales') | split('|') %}
				<ul class="navbar-nav my-0">
					<li class="nav-item dropdown">
						<span class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img src="{{ asset('images/locale/'~locale~'.png') }}" alt="{{locale}}">
						</span>
						{% for uneLocale in supported_locales %}
							{% if uneLocale != locale %}
								{% set params = params | merge({'_locale': uneLocale }) %}
								<div class="dropdown-menu" aria-labelledby="dropdown03" style="min-width: 5rem;">
									<a class="dropdown-item" href="{{ path(route, params) }}">
										<img src="{{ asset('images/locale/'~uneLocale~'.png') }}" alt="{{uneLocale}}">
									</a>
								</div>
							{% endif %}
						{% endfor %}
					</li>
				</ul> #}
			</div>
		</div>
	</div>
</nav>
