{% extends 'base.html.twig' %}

{% block title %}Equipes & Calendriers - Handball Rochettois{% endblock %}

{% block css %}<link href="{{ asset('css/site/equipes.css') }}" rel="stylesheet">{% endblock %} 

{% block body %}

<h2>Equipes & Calendriers</h2>

<div class="container d-flex">
    {% for equipe in equipes %}
        <div class="equipes">
            <img src="{{ asset(equipe.image) }}" alt="Photo d'équipes des {{equipe.nom}}>">
            <div class="equipes_infos">
                <h3>{{equipe.nom}}</h3>
                <p>{{equipe.description}}</p>
                <p class="entraineurs">Entraîneurs : {{equipe.entraineurs}}</p>
                <a class="" href="{{ path('app_equipes_detail', {'idEquipe':equipe.id}) }}">En savoir plus ...</a>
                <div class="calendrier_equipes">
                    {% if equipe.nb_liens == 1 %}
                        <a class="lien_poule" target="_blank" href="{{equipe.lien_calendrier_format[0]}}">Calendrier</a>
                    {% elseif equipe.nb_liens > 1 %}
                        <a class="lien_poule" target="_blank" href="{{equipe.lien_calendrier_format[0]}}">Calendrier équipe 1</a>
                        <a class="lien_poule" target="_blank" href="{{equipe.lien_calendrier_format[1]}}">Calendrier équipe 2</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
	<script>
		changementAcitveLink('Equipes et calendriers')
	</script>
{% endblock %}
