{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_h2.equipe{% endtrans %}{% endblock %}

{% block css %}<link href="{{ asset('css/equipes.css') }}" rel="stylesheet">{% endblock %} 

{% block body %}

<h2>{% trans %}title_h2.equipe{% endtrans %}</h2>

<div class="container d-flex">
    {% for equipe in equipes %}
       <div class="equipes">
            <img src="{{ asset(equipe.image) }}" alt="Photo d'équipes des {{equipe.nom}}>">
            <div class="equipes_infos">
                <h3>{{equipe.nom}}</h3>
                <p>{{equipe.description}}</p>
                <p class="entraineurs">{% trans %}equipe.entraineur{% endtrans %} : {{equipe.entraineurs}}</p>
                {# <a class="" href="{{ path('app_equipes_detail', {'idEquipe':equipe.id}) }}">En savoir plus ...</a> #}
                <div class="calendrier_equipes">
                    {% if equipe.nb_liens == 1 %}
                        <a class="lien_poule btn" target="_blank" href="{{equipe.lien_calendrier_format[0]}}">{% trans %}title_h2.calendrier{% endtrans %}</a>
                    {% elseif equipe.nb_liens > 1 %}
                        <a class="lien_poule btn" target="_blank" href="{{equipe.lien_calendrier_format[0]}}">{% trans %}title_h2.calendrier_equipe{% endtrans %} 1</a>
                        <a class="lien_poule btn" target="_blank" href="{{equipe.lien_calendrier_format[1]}}">{% trans %}title_h2.calendrier_equipe{% endtrans %} 2</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block js %}
	<script>
		changementAcitveLink('Equipes et calendriers')
	</script>
{% endblock %}
